[submodule "Borderlands4/ImGui"]
	path = Borderlands4/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Borderlands4/minhook"]
	path = Borderlands4/minhook
	url = https://github.com/TsudaKageyu/minhook.git
